In [1]:
# filter dbsnp output for RefSeq nucleotide mapping

In [2]:
import pandas as pd
pd.__version__
#'1.1.4'

'1.1.4'

In [3]:
# read trascript uniprot mapping file 
# output file by command $ ./disgenet_snpId_extract.sh which has input file disgenet_snpId550.txt
snp_nt= pd.read_csv("AB-15_mt-protein-UniProt_GeneName.tsv", sep='\t', low_memory=False, header=None)

In [4]:
print(snp_nt.shape)
snp_nt.head()

(190964, 4)

,0,1,2,3
0,O60506,SYNCRIP,rs1583337818,"HGVS=NC_000006.12:g.85645779_85645781del,NC_00..."
1,O60506,SYNCRIP,rs1583337813,"HGVS=NC_000006.12:g.85645775A>C,NC_000006.11:g..."
2,O60506,SYNCRIP,rs1583337761,"HGVS=NC_000006.12:g.85645715_85645716insGG,NC_..."
3,O60506,SYNCRIP,rs1583337683,"HGVS=NC_000006.12:g.85645589A>T,NC_000006.11:g..."
4,O60506,SYNCRIP,rs1583337673,"HGVS=NC_000006.12:g.85645586A>C,NC_000006.11:g..."

In [5]:
snp_nt.columns=['UniProtKB', 'gene_name','snpId','refseq_nt_variant']
print(snp_nt.shape)
snp_nt.head()

(190964, 4)

,UniProtKB,gene_name,snpId,refseq_nt_variant
0,O60506,SYNCRIP,rs1583337818,"HGVS=NC_000006.12:g.85645779_85645781del,NC_00..."
1,O60506,SYNCRIP,rs1583337813,"HGVS=NC_000006.12:g.85645775A>C,NC_000006.11:g..."
2,O60506,SYNCRIP,rs1583337761,"HGVS=NC_000006.12:g.85645715_85645716insGG,NC_..."
3,O60506,SYNCRIP,rs1583337683,"HGVS=NC_000006.12:g.85645589A>T,NC_000006.11:g..."
4,O60506,SYNCRIP,rs1583337673,"HGVS=NC_000006.12:g.85645586A>C,NC_000006.11:g..."

In [6]:
#split column
snp_nt['refseq_nt_variant'] = snp_nt['refseq_nt_variant'].str.split('|',expand=True)[0].str.split('=',expand=True)[1]

In [7]:
snp_nt.head()

,UniProtKB,gene_name,snpId,refseq_nt_variant
0,O60506,SYNCRIP,rs1583337818,"NC_000006.12:g.85645779_85645781del,NC_000006...."
1,O60506,SYNCRIP,rs1583337813,"NC_000006.12:g.85645775A>C,NC_000006.11:g.8635..."
2,O60506,SYNCRIP,rs1583337761,"NC_000006.12:g.85645715_85645716insGG,NC_00000..."
3,O60506,SYNCRIP,rs1583337683,"NC_000006.12:g.85645589A>T,NC_000006.11:g.8635..."
4,O60506,SYNCRIP,rs1583337673,"NC_000006.12:g.85645586A>C,NC_000006.11:g.8635..."

In [8]:
#split column
snp_nt=snp_nt.assign(refseq_nt_variant=snp_nt['refseq_nt_variant'].str.split(',')).explode('refseq_nt_variant')

In [9]:
snp_nt.shape

(1433526, 4)

In [10]:
snp_nt['refseq_nt_id'] = snp_nt['refseq_nt_variant'].str.split(':',expand=True)[0]

In [11]:
print(snp_nt.shape)
snp_nt.head()

(1433526, 5)

,UniProtKB,gene_name,snpId,refseq_nt_variant,refseq_nt_id
0,O60506,SYNCRIP,rs1583337818,NC_000006.12:g.85645779_85645781del,NC_000006.12
0,O60506,SYNCRIP,rs1583337818,NC_000006.11:g.86355497_86355499del,NC_000006.11
0,O60506,SYNCRIP,rs1583337818,NG_031848.1:g.2546_2548del,NG_031848.1
1,O60506,SYNCRIP,rs1583337813,NC_000006.12:g.85645775A>C,NC_000006.12
1,O60506,SYNCRIP,rs1583337813,NC_000006.11:g.86355493A>C,NC_000006.11

In [12]:
#map uniprot - refseq_nt mapping list
uid_nt= pd.read_csv("../AB-15_mt-protein-UniProt_RefSeq-nt.txt", sep='\t', low_memory=False)

In [13]:
uid_nt.columns=['UniProtKB', 'refseq_nt_id']

In [14]:
print(uid_nt.shape)
uid_nt.head()

(62, 2)

  UniProtKB    refseq_nt_id
0    O60506  NM_001159673.1
1    O60506  NM_001159674.1
2    O60506  NM_001159675.1
3    O60506  NM_001159676.1
4    O60506  NM_001159677.1

In [15]:
#merge mt_proteins with DisGeNet
uid_snp_nt = pd.merge(uid_nt, snp_nt, on=('refseq_nt_id','UniProtKB'))

In [16]:
print(uid_snp_nt.shape)
uid_snp_nt.head()

(127866, 5)

  UniProtKB    refseq_nt_id gene_name         snpId         refseq_nt_variant
0    O60506  NM_001159673.1   SYNCRIP  rs1583331316  NM_001159673.1:c.-152G>A
1    O60506  NM_001159673.1   SYNCRIP  rs1583241367  NM_001159673.1:c.1094A>G
2    O60506  NM_001159673.1   SYNCRIP  rs1583240864  NM_001159673.1:c.1222G>T
3    O60506  NM_001159673.1   SYNCRIP  rs1583233993   NM_001159673.1:c.*76A>G
4    O60506  NM_001159673.1   SYNCRIP  rs1583233911  NM_001159673.1:c.*100C>G

In [17]:
uid_snp_nt.nunique()

UniProtKB                15
refseq_nt_id             52
gene_name                15
snpId                 24927
refseq_nt_variant    125589
dtype: int64

In [18]:
# remove duplicates
uid_snp_nt = uid_snp_nt.drop_duplicates()

In [19]:
print (uid_snp_nt.nunique(),'\n', uid_snp_nt.shape)

UniProtKB                15
refseq_nt_id             52
gene_name                15
snpId                 24927
refseq_nt_variant    125589
dtype: int64
 (125589, 5)

In [20]:
#save uniprot refseq mapping to dbSNP
uid_snp_nt.to_csv('AB15_uniprot_dbsnp.tsv', sep='\t', index=False, header=True)

In [23]:
#save uniprot mapped dbSNP id only
uid_snp_nt['snpId'].drop_duplicates().to_csv('AB15_uniprot_dbsnp_id.txt', sep='\t', index=False, header=True)

In [26]:
! wc -l AB15_uniprot_dbsnp_id.txt AB15_uniprot_dbsnp.tsv

In [25]:
! pwd

/home/rakesh/Host-Pathogen_Interactions_in_Mitochondrial_and_Infectious_Diseases/AB15_dataset/UniProt_dbSNP